.tit1 { font-size: 20px; font-weight: 600; }
.bt_wrap { text-align: center; }
a.bt1,
input.bt1 {
    display: inline-block;
    min-width: 80px;
    margin-left: 5px;
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #16356f;
    background: transparent;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #16356f;
    cursor: pointer;
}
a.bt1:first-child,
input.bt1:first-child {
    margin-left: 0;
}
a.bt1.on,
input.bt1.on {
    background-color: #16356f !important;
    color: #fff;
}

a.bt2,
input.bt2 {
    display: inline-block;
    margin-left: 2px;
    padding: 4px 4px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: transparent;
    line-height: 100%;
    font-size: 1.3rem;
    cursor: pointer;
}

a.bt2:first-child,
input.bt2:first-child {
    margin-left: 0;
}

a.bt3,
input.bt3 {
    display: inline-block;
    margin-left: 2px;
    padding: 8px 10px;
    border: 1px solid #000;
    border-radius: 2px;
    background: transparent;
    line-height: 100%;
    font-size: 1.4rem;
    cursor: pointer;
}

a.bt3:first-child,
input.bt3:first-child {
    margin-left: 0;
}

.tbl1 {
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid #16356f;
}
.tbl1 tr {
    border-bottom: 1px solid #ddd;
}
.tbl1 th,
.tbl1 td {
    padding: 10px 0;
    text-align: left;
    font-size: 1.4rem;
}

.tbl2 {
    width: 100%;
    border-top: 1px solid #16356f;
}
.tbl2 thead {
    background: #f5f5f5;
}
.tbl2 tr {
    border-bottom: 1px solid #ddd;
}
.tbl2 th,
.tbl2 td {
    padding: 10px 0;
    text-align: center;
    font-size: 1.4rem;
}

.tags {
    letter-spacing: 3px;
}

.tags a {
    display: inline-block;
    margin: 3px 0;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 100px;
    font-size: 1.4rem;
    letter-spacing: 0;
}

.tags a::before {
    content: "#";
}

.tags a input[type="button"] {
    text-indent: -1000px;
    width: 10px;
    height: 10px;
    margin-top: 6px;
    vertical-align: top;
    background: url(/resources/img/comm/bt_del.png) no-repeat 0 0 /10px;
    overflow: hidden;
}

input.ipt1,
textarea.ipt1 {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 1.4rem;
}